<ion-header>
  <ion-toolbar>
    <ion-title> Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-grid >
    <ion-row justify-content-center align-items-center style="height: 100%;">

        <ion-col size="12">
          <div class="dic">
            Welcome 
            Unlock your potential with unlimited short courses and earn digital certificates to boost your CV.
          </div>
         
          <!-- <p>your  email : <strong>{{ userDetail }}</strong></p> -->
        </ion-col>
        <ion-col>
          <ion-button (click)="nextpage()"> home </ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="submit"  expand="block" (click)="signOut()">Signout</ion-button>
        </ion-col>

   
    </ion-row>
  </ion-grid>

</ion-content>