.b{
    font-weight: bold;
   
    color: rgb(65, 130, 228);

}
.a{ 
    font-size: 25px;
    color: rgb(101, 92, 92);
    font-style: normal;
   

}

ion-card-header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
ion-button{
    --ion-color-primary : rgb(208, 202, 42); ;
    justify-content: center;
    align-items: center;
    padding:  0 20px;
   text-transform: uppercase;
   padding-top: 5px;
   
}